

/*-----------基本选择器------------*/
h1{/*标记*/
    color:red;    
}
.gray{/*class 选择器*/
    color:gray;
}
#green{/* id 选择器*/
    color: green;
}

/* ------------复合选择器---------------*/

/*交集选择器*/
h1.gray{
    color:yellow;
}
h1#green{
    color:goldenrod;
}
.gray#green{
    color:dodgerblue;
}

/*并集选择器*/
b,em,i,ins{
    color:cornflowerblue;
}